/*
 * 04_sections/header
 * Styles for header section
 */
#brand {
  @include transition(color .5s);
  color: $text_colour;
  margin: 0px;
  &.-active {
    // color: $brand;
  }
}

.site__header {
  padding: 40px 0px 20px;
}

@media (max-width: 59.9375em) { // 959px
  .site__header {
    padding: 10px 0px 10px;
  }
}