/*
 * 00_bits/vars
 * Variables for colours and typography
 */

//greyscale
$white: #fefefe;
$black: #10181f;
$grey: #d1d3d3;

//gen
$brand: #b3b4b6;
$body_bg: $white;

//links
$link_colour: $brand;
$link_hover_colour: $black;
$nji: #0082cb;

//focus
$focus_border: rgba(82, 168, 236, 0.8);

//boxes and text
$text_colour: $black; //#b3b4b6;
$litetext_colour: $grey;

//alets
$default: $text_colour;
$info: $link_colour;
$success: #5cb85c;
$warning: #f0ad4e;
$error: #d9534f;

$base_size: 62.5%;
$display: "Lato", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sans_serif: "Lato", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: "Georgia", "Times New Roman", Times, serif;
$code: Menlo,Monaco,Consolas,"Courier New",monospace;
//$serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;

$global_family: $sans_serif; //not everything inherits from the body...so we have $global_family

$text_size: 1.6em;
$text_line_height: 1.33333em;

$h1: 12em;
$h2: 5em;
$h3: 2.5em;
$h4: 2em;
$h5: 1.8em;
$h6: 1.6em;

$lists_font_size: $text_size;
$lists_line_height: $text_line_height;

$lightFont: 300;
$regularFont: 400;
$boldFont: 900;

/* end */